<h1>Blog Posts</h1>

<%= render 'search' %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>
<%= link_to "New Posts", new_article_path %>